@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-brand bg-neutral-100 text-brand-black;
}

a {
  @apply text-brand-purple;
}

a:hover {
  @apply text-brand-blue transition-colors ease-in-out duration-300;
}

.product-card {
  background-position: -4000px;
  transition: background-position 1s ease-in-out;
}

.product-card div {
  transition: color 1s ease-in-out;
}

.product-card:hover {
  @apply bg-center text-white;
}
